<header class='masthead'>
  <p class='masthead-intro'>Hi We are</p>
  <h1 class='masthead-heading'>ACE ICE CREAM!</h1>
</header>
<section class="introduction-section">
    <h1>Introduction</h1>
    <p>Ace Ice Cream is a new Australian ice cream shop, focused on serving texture-driven handcrafted ice creams with a renewed attention to flavor and palate. We develop each recipe specifically for each individual flavor. The integrity of our ingredients is never compromised with additives or processed stabilizing. We look to change the way people eat and think about this nostalgic treat, by giving ice cream lovers an entirely original and contemporary ice cream experience.</p>
</section>
<section class="questions-section">
    <h1>FAQS</h1>
    <h2>What are your popular flavours?</h2>
    <p>Our popular flavours are <strong>Peachy Oolong</strong>, <strong>Uji Matcha</strong>, <strong>Mango Pomelo</strong> and <strong>Taro</strong>!</p>
    <h2>Do you use artificial flavouring?</h2>
    <p>No, all of our ice cream is artificial flavouring free. You can taste the difference.</p>
    <h2>Do you have sugar free ice cream?</h2>
    <p>No, sorry. All our gelato and sorbet contain sugar. There’s no beating round the bush. Treat yo self, really means treat yourself</p>
    <h2>Do you franchise?</h2>
    <p>No, we do not franchise. We are entirely privately owned and run.</p>
</section>
<footer class="section-footer">
      <div class="container">
        <div>
          <h2>Ace Ice Cream</h2>
          <a href="https://www.instagram.com/ace.icecreamm/">
          <img src="https://www.edigitalagency.com.au/wp-content/uploads/instagram-logo-svg-vector-for-print.svg" alt="" class="insta" />
            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="https://www.facebook.com/aceicecreamsydney">
          <img src="https://www.designbust.com/download/640/png/facebook_logo_transparent512.png" alt="" class="facebook" />
            <i class="fab fa-facebook fa-2x"></i>
          </a>
        </div>
        <div>
          <h3>Company Info</h3>
          <ul>
            <li><a href="#">All Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Delivery Info</a></li>
          </ul>
        </div>
        <div>
          <h3>Company Value</h3>
          <ul>
            <li><a href="#">No Artificial Flavour</a></li>
            <li><a href="#">No Artificial Colouring</a></li>
            <li><a href="#">Small Batch Making</a></li>
            <li><a href="#">Only Use Fresh Milk&Cream</a></li>
          </ul>
        </div>
      </div>
    </footer>